.wrapper {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid black;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: yellow;
  position: absolute;
}
